<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jmor132.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Term Provider -->
        <provider
            android:name=".TermProvider"
            android:authorities="com.example.jmor123.myapplication.TermProvider"
            android:exported="true" />

        <!-- Course Provider -->
        <provider
            android:name=".CourseProvider"
            android:authorities="com.example.jmor123.myapplication.CourseProvider"
            android:exported="true" />

        <!-- Course Note Provider -->
        <provider
            android:name=".CourseNotesProvider"
            android:authorities="com.example.jmor123.myapplication.CourseNotesProvider"
            android:exported="true" />
        <!-- Assessment Provider -->
        <provider
            android:name=".AssessmentProvider"
            android:authorities="com.example.jmor123.myapplication.AssessmentProvider"
            android:exported="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TermsListActivity" />
        <activity android:name=".TermEditor" />
        <activity android:name=".TermViewActivity" />
        <activity android:name=".CourseListActivity" />
        <activity android:name=".CourseEditor" />
        <activity
            android:name=".CourseViewActivity"
            android:label="@string/title_activity_course_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CourseNoteListActivity" />
        <activity android:name=".CourseNoteViewActivity" />
        <activity android:name=".CourseNoteEdit" />
        <activity android:name=".AssessmentListActivity" />
        <activity android:name=".AssessmentViewActivity" />
        <activity android:name=".AssessmentEdit"></activity>
    </application>

</manifest>